.ant-modal-header{
    text-align: center;
  }
  thead[class*="ant-table-thead"] th{
    background-color: #595959 !important;
    color: white;
  }
  :root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
  }
  .ant-tabs-nav-scroll{
    text-align: center;
  }
  