.listProduct{
    margin: 0 auto;
    display: grid; 
    grid-template-columns: repeat(4,1fr); 
    list-style: none;
    grid-row-gap: 1.5rem;
    max-width: 75%;
    grid-column-gap: 2.5rem;
    
}