* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bold-text{
  font-weight: bold;
}
.opacity-50{
  opacity: 0.7;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ebebeb;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane, .ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane {
  outline: none;
}
.ant-modal-header{
  text-align: center;
}
/* globals */
body {
  
  padding-top: 100px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.2rem 0.3rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  background: var(--mainGrey);
  z-index: 2;
}

.nav-header {
  display: flex;
  
  justify-content: space-between;
  
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  
}
.nav-icon {
  font-size: 1.5rem;
  
  color: var(--primaryColor);
}

.search-body{
  
  min-height: 25px;
  
  text-align: center;
  border-radius: 3px;
  /*border: 3px solid gray;*/
}
.search-input{
  width: 85%;
  height: 25px;
  outline: none;
  border: 0;
  font-size: 16px;
  padding: 2px;
  border-radius: 3px 0 0 3px;
}
.search-btn{
  width: 15%;
  height: 25px;
  border: 0;
  outline: none;
  border-radius: 3px;
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  width: 80%;
  margin: 0 auto;

  
}

.nav-links li.li-item a {
  
  display: block;
  text-decoration: none;
  padding: .3rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: .8rem;
  font-weight: 600;
}

.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 200px;
}
.count-item{
  color: white;
  background-color: #f5222d;
  padding: 2px 6px;
}
@media screen and (min-width: 768px){
  .nav-links {
    width: 60%;
    
  }
  .nav-links li.li-item a{
    font-size: .9rem;
  }
}
@media screen and (min-width: 1024px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 75%;
    
    margin: 0 auto;
    
    display: flex;
  }
  .nav-header {
    display: flex;
    width: 25%;
    justify-content: space-between;
    
  }
  .nav-links {
    height: auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    
    overflow: visible;
  }
  .search-body{
    width: 350px;
    min-height: 30px;
    
    text-align: center;
    border-radius: 5px;
    /*border: 4px solid gray;*/
    margin-right: 40px;
  }
  .search-input{
    width: 85%;
    height: 30px;
    outline: none;
    border: 0;
    font-size: 16px;
    padding: 2px;
    border-radius: 5px 0 0 5px;
  }
  .search-btn{
    width: 15%;
    height: 32px;
    border: 0;
    outline: none;
    border-radius: 5px;
  }
  
  .nav-links li.li-item a {
    font-size: 1rem;
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
  .nav-links li:nth-child(5){
    border: 2px solid white;
  }
  .nav-links li:nth-child(6){
    border: 2px solid white;
  }
  .search-input{
    
    height: 30px;
    
  }
  .search-btn{
    
    height: 30px;
    
  }
}

/* end of navbar */
.ant-carousel .slick-slide {
  width: auto;
  background: var(--mainWhite);
  text-align: center;
  overflow: hidden;
}
.ant-carousel .slick-slide img{
  margin: 0 auto;
  
  
}
.login-form-button{
  width: 100%;
}
.ant-modal-body{
  background-color: var(--offWhite);
}
.ant-tabs-nav-scroll{
  text-align: center;
}
.ant-form-horizontal .ant-form-item-label{
  text-align: start;
}
.ant-form-horizontal .ant-form-item-control{
  margin: 0 auto;
}
.ant-input-search-enter-button input + .ant-input-group-addon .ant-input-search-button{
  background: gray;
  border: 1px solid gray;
}
.my-facebook-button-class{
  width: 100%;
  border: 1px solid #4267b2;
  background: #4267b2;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  outline: none;
}