.article-footer{
    margin-top: 20px;
}
.article-footer h4{
    color: rgb(51, 51, 51);
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    text-transform: uppercase;
    margin: 0px 0px 17px;
    text-align: center;
}
.article-footer h6{
    color: rgb(175, 154, 125);
}
.article-footer .img-icon{
    padding: 2px;
    width: 63px;
    height: 35px;
}