
.right{
    
    position: relative;
  }
   
  
   a{
    color: #644def;
  }
   .right div{
    padding: 6px 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
    
    .right .ant-avatar-image{
    margin: 0 10px;
  }
  
    .right div .name-user{
        box-sizing: border-box;
        
        font-size: 16px;
        font-weight: bold;
    }
    .right div p{
    font-size: 10px;
    text-align: center;
    color: green;
  }
  
    
  
   .right .dropdown{
    position: absolute;
    width: 220px;
    top: 45px;
    right: -15px;
    background: yellow;
    padding: 10px 25px;
    border-radius: 5px;
    display: none;
    
  }
  
  .right .dropdown li{
      list-style-type: none;
      padding: 2px;
      
  }
  .right .dropdown li a{
    list-style-type: none;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
}
  
   .right .dropdown:before{
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: transparent transparent yellow transparent;
   
  }
  
    .right:hover .dropdown{
    display: block;
    
  }
  @media screen and (max-width: 768px){
    .right{
        
        width: 50%;
        margin: 0 auto;
        font-size: 10px;
        font-weight: bold;
        padding: 8px;
    }
    .right .name-user{
        font-size: 10px;
    }
    .right .dropdown{
        
        top: 45px;
      }
    
  }